{% extends('ComponentDashbord/index.html.twig') %}

{% block content %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Modification Evènement</h2>

        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    {{ form_start(form) }}


                    <div class="row">
                            <div class="col-md-6" >
                                <div class="form-group">
                                    {{ form_row(form.name) }}

                                </div>
                            </div>
                        <div class="col-md-6" >
                                <div class="form-group">
                                    {{ form_row(form.somme) }}

                                </div>
                            </div>


                        </div>
                        <br>
                        <div class="form-group" style="margin-right: 44%;">
                            <button class="btn btn-md btn-primary pull-right" type="submit">Modifier</button>
                        </div>


                    {{ form_end(form) }}


                </div>


            </div>


        </div>
    </div>

{% endblock %}
